$color: blue;


@import "second-test";

@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}


.foo {
	transition: transform 1s;
}


body {
  background: url( 'abcd');
}


@media (max-width: 600px) {
  .facet_sidebar {
	  color: pink
  }
}
